body {
  font-family: Arial, sans-serif;
  background: #fffaf0;
  color: #333;
  text-align: center;
}

header {
  background: #ffcc70;
  padding: 20px;
}

section {
  padding: 20px;
}

footer {
  background: #ffcc70;
  padding: 10px;
}
label {
  display: block;
  text-align: left;
  margin-top: 10px;
  font-weight: bold;
}
