body {
  font-family: Arial, sans-serif;
  background: #fffaf0;
  color: #333;
  text-align: center;
}

header {
  background: #ffcc70;
  padding: 20px;
}

section {
  padding: 20px;
}

footer {
  background: #ffcc70;
  padding: 10px;
}
label {
  display: block;
  text-align: left;
  margin-top: 10px;
  font-weight: bold;
}
.whatsapp-btn {
  display: inline-block;
  background: #25D366;
  color: white;
  padding: 15px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 18px;
  margin-top: 10px;
}

.whatsapp-btn:hover {
  background: #1ebe5d;
}
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  color: white;
  font-size: 30px;
  padding: 15px;
  border-radius: 50%;
  text-decoration: none;
}
